<div class="moon">
    <svg height="200" width="100" class="moon-left">
      <circle cx="100" cy="100" r="100" stroke="white" fill="white" class="bg"/>
      <circle cx="100" cy="100" r="100" stroke="white" fill="black" class="fg"  id="moon-left"/>
    </svg>
    <svg height="200" width="100" class="moon-right">
      <circle cx="0" cy="100" r="100" stroke="white" fill="white" class="bg"/>
      <circle cx="0" cy="100" r="100" stroke="white" fill="black" class="fg" id="moon-right"/>
    </svg>
</div>
<!-- <div class="moon">
    <svg viewport="0 0 200 100" class="moon-left">
      <circle cx="100" cy="100" r="100" stroke="white" fill="white" class="bg"/>
      <circle cx="100" cy="100" r="100" stroke="white" fill="black" class="fg" id="moon-left"/>
    </svg>
    <svg viewport="0 0 200 100" class="moon-right">
      <circle cx="0" cy="100" r="100" stroke="white" fill="white" class="bg"/>
      <circle cx="0" cy="100" r="100" stroke="white" fill="black" class="fg" id="moon-right"/>
    </svg>
</div> -->