<table>
    <tr>
        <td colspan="2" class="value-big align-right">{{items[0].value}}</td>
    </tr>
    <tr>
        <td class="label" title="{{items[1].tooltip}}">{{items[1].label}}</td>
        <td class="value-small align-right">{{items[1].value}}</td>
    </tr>
    <tr>
        <td class="label" title="{{items[2].tooltip}}">{{items[2].label}}</td>
        <td class="value-small align-right">{{items[2].value}}</td>
    </tr>
    <tr>
        <td class="label" title="{{items[3].tooltip}}">{{items[3].label}}</td>
        <td class="value-small align-right">{{items[3].value}}</td>
    </tr>
</table>
