<div>
  <span *ngFor="let serie of data.series" (click)="toggleSerie(serie)">{{serie.name}}</span>
</div>
<div style="text-align:center">
    <apx-chart #chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [title]="chartOptions.title"
      [annotations]="chartOptions.annotations"
      [colors]="chartOptions.colors"
      [dataLabels]="chartOptions.dataLabels"
      [stroke]="chartOptions.stroke"
      [labels]="chartOptions.labels"
      [legend]="chartOptions.legend"
      [fill]="chartOptions.fill"
      [tooltip]="chartOptions.tooltip"
      [plotOptions]="chartOptions.plotOptions"
      [responsive]="chartOptions.responsive"
      [yaxis]="chartOptions.yaxis"
      [grid]="chartOptions.grid"
      [states]="chartOptions.states"
      [subtitle]="chartOptions.subtitle"
      [theme]="chartOptions.theme"    
    ></apx-chart>
</div>