table {
    width: 100%;
    border: 0;
}

th {
    text-align: left;
    padding-right: 25px;
}

td {
    text-align: right;
}

td:empty::after{
    content: "\00a0";
}

mat-icon {
    height: 13px;
    width: 13px;
}
