<mat-toolbar color="primary">
    <span>
        <button mat-button (click)="toggleMenu()">
            <mat-icon>menu</mat-icon>
        </button>
        {{title}}
    </span>
    <span *ngIf="settings.demo">
        DEMO
    </span>
</mat-toolbar>
<div class="content">
    <div fxLayout="row wrap" fxLayoutAlign="space-around center">
        <div *ngFor="let card of cards">
            <app-widget *ngIf="card.type=='WIDGET'" [data]="card.data"></app-widget>
            <app-time-widget *ngIf="card.type=='TIME'" [data]="card.data"></app-time-widget>
            <app-temperature-widget *ngIf="card.type=='TEMPERATURE'" [data]="card.data"></app-temperature-widget>
        </div>
    </div>
</div>