<div class="content">
    <div fxLayout="row wrap" fxLayoutAlign="space-around center">
        <div *ngFor="let card of cards">
            <app-widget *ngIf="card.type=='WIDGET'" [icon]="card.icon" [title]="card.title"></app-widget>
            <app-time-widget *ngIf="card.type=='TIME'"></app-time-widget>
            <app-temperature-widget *ngIf="card.type=='TEMPERATURE'"></app-temperature-widget>
            <app-moon-widget *ngIf="card.type=='MOON'"></app-moon-widget>
            <app-wind-widget *ngIf="card.type=='WIND'"></app-wind-widget>
            <app-precipitation-widget *ngIf="card.type=='PRECIPITATION'"></app-precipitation-widget>
            <app-sun-widget *ngIf="card.type=='SUN'"></app-sun-widget>
            <app-forecast-widget *ngIf="card.type=='FORECAST'"></app-forecast-widget>
            <app-camera-widget *ngIf="card.type=='CAMERA'"></app-camera-widget>
            <app-air-widget *ngIf="card.type=='AIR'"></app-air-widget>
        </div>
    </div>
</div>