<div fxLayout="row">
    <div class="card-left" fxLayout="column" fxLayoutAlign="space-between center">
        <app-analog-clock *ngIf="type=='TIME'" [height]="100" [type]="type"></app-analog-clock>
        <app-thermometer *ngIf="type=='TEMPERATURE'" [height]="100" [type]="type"></app-thermometer>
        <app-beaufort *ngIf="type=='WIND'" [height]="100" [type]="type"></app-beaufort>
        <app-camera *ngIf="type=='CAMERA'" [height]="100" [type]="type"></app-camera>
        <app-air *ngIf="type=='AIR'" [height]="100" [type]="type"></app-air>
        <app-precipitation *ngIf="type=='PRECIPITATION'" [height]="100" [type]="type"></app-precipitation>
        <app-sun *ngIf="type=='SUN'" [height]="100" [type]="type"></app-sun>
        <app-moon *ngIf="type=='MOON'" [height]="100" [type]="type"></app-moon>
        <app-forecast *ngIf="type=='FORECAST'" [height]="100" [type]="type"></app-forecast>
        <app-actions [type]="type" [more]="more" [info]="info" [chartsInfo]="chartsInfo"></app-actions>
    </div>
    <div class="card-right">
        <app-item-list *ngIf="type!='CAMERA' && type!='FORECAST'" [type]="type" [onlyFirst]="false"></app-item-list>
        <app-image *ngIf="type=='CAMERA'" [type]="type"></app-image>
        <app-tameteo *ngIf="type=='FORECAST'" [type]="type"></app-tameteo>
    </div>
</div>