<mat-card class="mat-elevation-z4">
    <div fxLayout="row">
        <div class="card-left" fxLayout="column" fxLayoutAlign="space-between center">
            <!-- <mat-icon class="logo" mat-card-avatar fontIcon="{{icon}}" aria-hidden="true"></mat-icon> -->
            <mat-icon svgIcon="camera0" aria-hidden="false"></mat-icon>
            <div>
                <div class="now">{{now}}</div>
                <app-actions [more]="more" [info]="info" [chartsInfo]="chartsInfo"></app-actions>
            </div>
        </div>
        <div class="card-right">
            <mat-card-title>
                {{title}}
            </mat-card-title>
            <mat-card-content>
                <img src="{{src}}" height="118px"/>
            </mat-card-content>
        </div>
    </div>
</mat-card>