/* You can add global styles to this file, and also import other style files */
$fa-fort-path: "~@fontawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// @media screen and (max-width: 400px) {
//     .card-left {
//         width: 110px;
//         border-right: solid 1px grey;
//         padding-right: 16px;
//     }
//     .card-right {
//         padding-left: 16px;
//         width: 220px;
//     }
//     mat-card {
//         margin: 5px 0px 0px 0px !important;
//         padding: 5px !important;
//     }
//     .content {
//         padding: 0px !important;
//     }
// }

// @media screen and (min-width: 401px) {
//     .card-left {
//         width: 110px;
//         border-right: solid 1px grey;
//         padding-right: 16px;
//     }
//     .card-right {
//         width: 230px;
//         padding-left: 16px;
//     }
// }

.mat-expansion-panel-body {
    padding: 0 10px 16px !important;
}

.mat-dialog-container {
    width: calc( 100vw - 20px) !important;
    height: calc( 100vh - 20px) !important;
}

.error {
    background-color: rgba(255,0,0,0.8);
    color: black;
    font-weight: bold;
}

.warn {
    background-color:  rgba(255,0,0,0.8);
    color: black;
    font-weight: bold;
}