<mat-card class="mat-elevation-z4">
    <div fxLayout="row">
        <div class="card-left" fxLayout="column" fxLayoutAlign="space-between center">
            <!-- <mat-icon class="logo" mat-card-avatar fontIcon="{{icon}}" aria-hidden="true"></mat-icon> -->
            <app-analog-clock [time]="now" [diameter]="45"></app-analog-clock>
            <div>
                <div class="weekday">{{weekday}}</div>
                <div class="date">{{date}}</div>
                <div class="time">{{time}}</div>
                <app-actions [info]="info" [chartType]="chartType"></app-actions>
            </div>
        </div>
        <div class="card-right">
            <mat-card-title>
                {{title}}
            </mat-card-title>
            <mat-card-content>
                <app-itemlist [items]="items"></app-itemlist>
            </mat-card-content>
        </div>
    </div>
</mat-card>