<div class="buttons">
  <span>Periode: </span>
  <mat-button-toggle-group name="timespan" aria-label="chart timespan">
    <mat-button-toggle value="selectedTimespan" *ngFor="let timespan of timespans" (click)="selectTimespan(timespan)">
      {{timespan}}
    </mat-button-toggle>
  </mat-button-toggle-group>
  <span>Data: </span>
  <mat-button-toggle-group name="charttype" aria-label="chart type">
    <mat-button-toggle value="selectedChart" *ngFor="let chart of chartsInfo" (click)="selectChart(chart)">
      {{chart.label}}
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>

<app-line-chart *ngIf="selectedChart.charttype == 'line'" [data]="data" [selection]="selectedTimespan">
</app-line-chart>

<app-bar-chart *ngIf="selectedChart.charttype == 'bar'" [data]="data" [selection]="selectedTimespan">
</app-bar-chart>