mat-icon.action {
    font-size: 15px;
    margin-bottom: 0px;
    color: grey;
}

button {
    width: 30px !important;
    height: 40px !important;
}

.error {
    background-color: red;
}

.warn {
    background-color: orange;
}
