<mat-card class="mat-elevation-z4">
    <div fxLayout="row">
        <div class="card-left" fxLayout="column" fxLayoutAlign="space-between center">
            <app-analog-clock [time]="now" [diameter]="100"></app-analog-clock>
            <app-actions [more]="more" [info]="info" [chartsInfo]="chartsInfo"></app-actions>
        </div>
        <div class="card-right">
            <table>
                <tr>
                    <td colspan="2" class="value-big" style="text-align:right;">{{items[0].value}}</td>
                </tr>
                <tr>
                    <td class="label" title="{{items[1].tooltip}}" style="text-align:left;padding-right:25px;">{{items[1].label}}</td>
                    <td class="value-small" style="text-align:right;">{{items[1].value}}</td>
                </tr>
                <tr>
                    <td class="label" title="{{items[2].tooltip}}" style="text-align:left;padding-right:25px;">{{items[2].label}}</td>
                    <td class="value-small" style="text-align:right;">{{items[2].value}}</td>
                </tr>
                <tr>
                    <td class="label" title="{{items[3].tooltip}}" style="text-align:left;padding-right:25px;">{{items[3].label}}</td>
                    <td class="value-small" style="text-align:right;">{{items[3].value}}</td>
                </tr>
            </table>
        </div>
    </div>
</mat-card>