<div fxLayoutAlign="center center">
    <button mat-icon-button (click)="openGraphDialog()" *ngIf="chartsInfo.length > 0">
        <mat-icon class="action" fontIcon="{{chartIcon}}" aria-hidden="true"></mat-icon>
    </button>
    <button mat-icon-button (click)="openInfoDialog()" *ngIf="info">
        <mat-icon class="action" fontIcon="{{infoIcon}}" aria-hidden="true"></mat-icon>
    </button>
    <button mat-icon-button (click)="openMoreDialog()" *ngIf="more">
        <mat-icon class="action" fontIcon="{{moreIcon}}" aria-hidden="true"></mat-icon>
    </button>
</div>